/* SliderStyles.css */
:root {
    --surface-color: #fff;
    --curve: 1rem;
  }
  
  .card {
    position: relative;
    display: block;
    height: auto;
    border-radius: calc(var(--curve) * 1);
    overflow: hidden;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .card__image {
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: calc(var(--curve) * 1) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
  }
  
  .card__arc {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 50 100 c 25 0 50 -25 50 -50 v 50 Z");
  }
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  
  .card__title {
    font-size: 1.2rem;
    margin: 0 0 0.2rem;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 0.5rem 0;
    font-family: "MockFlowFont";
    font-size: 1rem;
    color: #D7BDCA;
  }
  
  .card__status {
    font-size: 1rem;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 1rem 1rem;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 1rem;
  }
  
  /* Slider styles */
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .slide {
    height: 100px;
    width: 250px;
  }
  